.idea/*
local.properties
.gradle/*
/build
.DS_Store
build
*.iml
/app/*.iml
/ijkplayer/ijkplayer.iml
/*.iml
/ijkplayer/android/android.iml
/ijkplayer/android/ijkmediaplayer/*.iml
/app/*.apk
/app/app.iml
/app/google-services.json
/fastlane/report.xml
/fastlane/README.MD
ajnsnewmedia_ci.properties
ajnsnewmedia_fastlane_access.json
ajnsnewmedia_keystore.jks

!.idea/codeStyleSettings.xml

out/
lib/